#MTBF
replay.*
last_replay.*
.*.swp
*.py[cod]
gecko.log
info
runinfo_*
b2ginfo*
b2gprocrank*
b2gps*
bugreport*
dmesg*
getevent*
logcat*
screenshot
output
output*.zip
# for memory tools
tools

# firefox os
logcat
console.log

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
